@use '../general-styles/colors' as clrs;
@use '../general-styles/typography' as type;
@use '../general-styles/padding' as pad;
@use '../general-styles/gradients' as grad;

@media screen and (max-width: 600px) {
  .header {
    &__nav {
      &--links {
        height: 100vh;
        background-image: grad.gradient('primary');
        padding: pad.padding-st-v('xl') pad.padding-d-h('mc');

        transform: translateX(-400%) translateY(-100%) rotate(-90deg);

        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        transition: all 0.6s ease-in-out;
        z-index: 15;

        &_toggle {
          transform: translateX(0);
          transition: all 0.6s ease-in-out;
        }
      }

      &--burger {
        width: 9rem;
        height: 4rem;

        justify-content: center;
        top: 2rem;
        right: 2rem;
        position: fixed;
        z-index: 13;
        background-image: grad.gradient('primary');
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        gap: 0.5rem;

        &__line {
          height: 2px;
          width: 100%;

          background-color: clrs.color-theme('1');

          &:first-child {
            align-self: flex-end;
            width: 70%;
          }
        }
      }
    }
  }

  .footer {
    flex-direction: column;
  }
}
